<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Discord</key>
	<dict>
		<key>Token</key>
		<string></string>
		<key>JRChannels</key>
		<array>
			<string></string>
		</array>
		<key>CSChannels</key>
		<array>
			<string></string>
		</array>
		<key>HQChannels</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>Google</key>
	<dict>
		<key>APIKey</key>
		<string></string>
		<key>SearchEngineID</key>
		<string></string>
	</dict>
	<key>BearerToken</key>
	<string>Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjE5Mzg2ODM2LCJ1c2VybmFtZSI6ImZhZXRhZiIsImF2YXRhclVybCI6Imh0dHBzOi8vZDJ4dTFoZG9taDNucnguY2xvdWRmcm9udC5uZXQvZGVmYXVsdF9hdmF0YXJzL1VudGl0bGVkLTFfMDAwMV9ibHVlLnBuZyIsInRva2VuIjoidFJhS2RnIiwicm9sZXMiOltdLCJjbGllbnQiOiJBbmRyb2lkLzEuOC4xIiwiZ3Vlc3RJZCI6bnVsbCwidiI6MSwiaWF0IjoxNTI3MDM3MjQ4LCJleHAiOjE1MzQ4MTMyNDgsImlzcyI6Imh5cGVxdWl6LzEifQ.2c7O3awXNeNSd8cMVZE4LHgI29gbYDaAVqIhPD2uCxY</string>
	<key>UserID</key>
	<string>19386836</string>
	<key>HostURL</key>
	<string>api-quiz.hype.space</string>
	<key>HostFullURL</key>
	<string>https://api-quiz.hype.space/shows/now?type=hq&amp;userId=</string>
	<key>HQClient</key>
	<string>iOS/1.3.6</string>
</dict>
</plist>
