<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Discord</key>
	<dict>
		<key>Token</key>
		<string></string>
		<key>JRChannels</key>
		<array>
			<string></string>
		</array>
		<key>CSChannels</key>
		<array>
			<string></string>
		</array>
		<key>HQChannels</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>Google</key>
	<dict>
		<key>APIKey</key>
		<string></string>
		<key>SearchEngineID</key>
		<string></string>
	</dict>
	<key>BearerToken</key>
	<string>Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIyNDYwMjc4LCJ1c2VybmFtZSI6InpvZXdhbGtlcjQ5NCIsImF2YXRhclVybCI6InMzOi8vaHlwZXNwYWNlLXF1aXovZGVmYXVsdF9hdmF0YXJzL1VudGl0bGVkLTFfMDAwMF9ncmVlbi5wbmciLCJ0b2tlbiI6ImJvcjBLYiIsInJvbGVzIjpbXSwiY2xpZW50IjoiIiwiZ3Vlc3RJZCI6bnVsbCwidiI6MSwiaWF0IjoxNTM1NzM2NTY3LCJleHAiOjE1NDM1MTI1NjcsImlzcyI6Imh5cGVxdWl6LzEifQ._uTi1EhWAMlX8jauCBRBx5zHfbva6n9s35S05iBFSQc</string>
	<key>UserID</key>
	<string>22460278</string>
	<key>HostURL</key>
	<string>api-quiz.hype.space</string>
	<key>HostFullURL</key>
	<string>https://api-quiz.hype.space/shows/now?type=hq&amp;userId=</string>
	<key>HQClient</key>
	<string>iOS/1.3.18</string>
</dict>
</plist>
